@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #2D2D32;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (max-width: 599px) {
  html.is-fixed,
  html.is-fixed body {
    height: 100%;
    overflow: hidden;
  }
}

.section__inner {
  padding: 8rem 4%;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .section__inner {
    max-width: 1240px;
    width: 100%;
    padding: 10rem 2rem;
  }
}

.section__ttl {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: .08em;
  color: #64629D;
}

@media (max-width: 599px) {
  .section__ttl {
    font-size: 3rem;
  }
}

.section__ttl::before {
  content: attr(data-en);
  display: block;
  color: #9F9EC1;
  font-size: 3.6rem;
  letter-spacing: normal;
  line-height: 2;
}

@media (max-width: 599px) {
  .section__ttl::before {
    font-size: 2.2rem;
  }
}

@media (min-width: 1025px) {
  .is-sm {
    display: none;
  }
}

@media (min-width: 600px) {
  .is-sm {
    display: none;
  }
}

.g-nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: -1;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #2D2D32;
  /*動き*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.g-nav.panel-active {
  opacity: 1;
  z-index: 999;
}

.g-nav.panelactive .g-nav__list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.g-nav ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-nav.panel-active ul {
  display: block;
}

.g-nav li {
  text-align: center;
}

.g-nav li a {
  color: #fff;
  display: block;
  padding: 16px;
  letter-spacing: .1em;
}

.open-btn1 {
  display: none;
}

@media (max-width: 599px) {
  .open-btn1 {
    display: block;
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 0;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

.open-btn1 span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  width: 45%;
}

.open-btn1 span:nth-of-type(1) {
  top: 15px;
}

.open-btn1 span:nth-of-type(2) {
  top: 23px;
}

.open-btn1 span:nth-of-type(3) {
  top: 31px;
}

.open-btn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 45%;
}

.open-btn1.active span:nth-of-type(2) {
  opacity: 0;
}

.open-btn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 45%;
}

.cta-btn {
  background-color: #64629D;
  color: #fff;
  padding: 1em;
  display: inline-block;
}

.cta-btn.cta-btn-whiteback {
  background-color: #fff;
  color: #64629D;
  padding: .9em;
  border: 1px solid #64629D;
}

.hamburger {
  display: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
}

.header__ttl img {
  width: 83px;
}

.header__right {
  display: none;
}

@media (min-width: 1025px) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 72px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__right .cta-btn {
    padding: .75rem 1.625rem;
    border-radius: 25px;
  }
}

.nav {
  height: inherit;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.nav__list {
  height: inherit;
  margin-right: 1rem;
}

.nav__list a {
  display: block;
  height: inherit;
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.fv {
  background-color: #EDECFC;
}

.fv__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 1025px) {
  .fv__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 117px;
    padding-bottom: 113px;
  }
}

.fv__contents,
.fv__img {
  display: contents;
}

@media (min-width: 1025px) {
  .fv__contents,
  .fv__img {
    display: initial;
  }
}

.fv__ttl,
.fv__text,
.fv__container img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.fv__container img {
  max-width: 305px;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .fv__container img {
    max-width: 515px;
  }
}

.fv__ttl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

@media (min-width: 1025px) {
  .fv__ttl {
    font-size: 6rem;
  }
}

.fv__text {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.8;
}

@media (min-width: 1025px) {
  .fv__text {
    font-size: 1.8rem;
  }
}

.fv__cta-wrap {
  display: contents;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .fv__cta-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 3.3rem;
  }
}

.fv__cta-wrap span {
  margin-bottom: 3rem;
  text-align: center;
}

@media (min-width: 1025px) {
  .fv__cta-wrap span {
    margin-right: 3rem;
  }
}

.fv__cta-wrap span a {
  display: inline-block;
  width: 300px;
  font-size: 1.8rem;
  border-radius: 27px;
}

.fv__cta__wrap .cta-btn-whiteback {
  margin-top: 3.2rem;
}

.about__container {
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .about__container {
    max-width: 90rem;
    width: 100%;
  }
}

.about__contents {
  margin-top: 2.9rem;
}

.about__contents p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section__cta {
  text-align: center;
}

.section__cta a {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1;
  border-radius: 50px;
}

.feature {
  background-color: #F9F9F9;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  .feature__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 102px;
  }
}

.feature__item img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 280px;
}

@media (min-width: 1025px) {
  .feature__item img {
    max-width: 520px;
  }
}

.feature__item-card {
  background-color: #fff;
  border-radius: 30px;
  padding: 49px 20px 40px 20px;
}

@media (min-width: 1025px) {
  .feature__item-card {
    padding: 65px 124px 65px 148px;
  }
}

.feature__item-ttl {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.448;
}

@media (min-width: 1025px) {
  .feature__item-ttl {
    font-size: 3.6rem;
  }
}

.feature__item-ttl::before {
  content: attr(data-number);
  font-size: 4.2rem;
  font-weight: 700;
  color: #64629D;
}
