// * {
//     border: 3px solid red
// }

@charset "utf-8";

//*---------------------------*
//*  変数管理
//*---------------------------*

//color
$color-main: #EDECFC;
$color-accent: #64629D;
$color-text: #2D2D32;

//font-family
//-->ヒラギノver.
$font-main: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

//-->游ゴシックver.
// $font-main:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;


//ハンバーガーメニュー
$drawer-width: 24px; //ドロワーの幅
$drawer-height: 2px; //ドロワー線の高さ
$drawer-color: #3EA1D1; //ドロワー線の色

//画面幅
$layout-width-inner: 1240px;

//ブレイクポイント定義（モバイルファースト）
$breakpoints: (
//キー : 値
  'sm': "(max-width: 599px)",
  'md': "(min-width: 600px)", 
  'lg': "(min-width: 1025px)",
) !default;

//メディアクエリ用のmixinを定義。
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

//*---------------------------*
//*  サイト全体に係るCSS
//*---------------------------*
html {
  font-size: 10px;
}
body {
  font-family: $font-main;
  color: $color-text;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
//スマホの横スクロール禁止
html.is-fixed,
html.is-fixed body {
  @include mq('sm') {
      height: 100%;
      overflow: hidden;
  }
}

.section__inner {
  padding: 8rem 4%;
  margin: 0 auto;
  @include mq('lg') {
    max-width: 1240px;
    width: 100%;
    padding: 10rem 2rem;
  }
}

//sectionの共通タイトル設定
.section__ttl {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: .08em;
  color: $color-accent;
  @include mq('sm') {
    font-size: 3rem;
  }
}

.section__ttl::before {
  content: attr(data-en);
  display: block;
  color: #9F9EC1;
  font-size: 3.6rem;
  letter-spacing: normal;
  line-height: 2;
  @include mq('sm') {
    font-size: 2.2rem;
  }
}

.is-sm {
  @include mq('lg') {
    display: none;
  }
  @include mq('md') {
    display: none;
  }
}
  

//*---------------------------*
//*  ナビゲーションのためのCSS
//*---------------------------*  
.g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position:fixed;
  z-index: -1;
  opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
  top:0;
  width:100%;
  height: 100vh;/*ナビの高さ*/
  background: $color-text;
    /*動き*/
  transition: all 0.3s;
}

//アクティブクラスがついたら透過なしに
.g-nav.panel-active {
  opacity: 1;
  z-index: 999;
}

//ナビゲーションの縦スクロール
.g-nav.panelactive .g-nav__list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.g-nav ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-nav.panel-active ul {
  display: block;
}

//リストのレイアウト
.g-nav li {
  text-align: center;
}

.g-nav li a {
  color: #fff;
  display: block;
  padding: 16px;
  letter-spacing: .1em;
}

//*---------------------------*
//*  ハンバーガーボタンためのCSS
//*---------------------------* 
.open-btn1{
  display: none;
  @include mq('sm') {
    display: block;
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top: 0;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
  }

}
    
//×に変化  
  .open-btn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
    width: 45%;
  }
  
  .open-btn1 span:nth-of-type(1) {
    top:15px; 
  }
  
  .open-btn1 span:nth-of-type(2) {
    top:23px;
  }
  
  .open-btn1 span:nth-of-type(3) {
    top:31px;
  }
  
  .open-btn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 45%;
  }
  
  .open-btn1.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .open-btn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 45%;
  }

//*---------------------------*
//*  CTAボタンためのCSS
//*---------------------------*
.cta-btn {
  background-color: $color-accent;
  color: #fff;
  padding: 1em;
  display: inline-block;
  &.cta-btn-whiteback {
    background-color: #fff;
    color: $color-accent;
    padding: .9em;
    border: 1px solid $color-accent
  }
}

//*---------------------------*
//*  ヘッダー
//*---------------------------*  
.hamburger {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.header__ttl {
  img {
    width: 83px;
  }
}

.header__right {
  display: none;
  @include mq('lg') {
    display: flex;
    height: 72px;
    align-items: center;
    .cta-btn {
      padding: .75rem 1.625rem;
      border-radius: 25px;
    }
  }
}

.nav {
  height: inherit;
  @include mq('sm') {
  }
}

.nav__lists {
  display: flex;
  height: inherit;
}

.nav__list {
  height: inherit;
  margin-right: 1rem;
  a {
    display: block;
    height: inherit;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
    
  }
}

//ここからメインコンテナ
//*---------------------------*
//*  ファーストビュー
//*---------------------------* 
.fv {
  background-color: #EDECFC;
}

.fv__container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include mq('lg') {
    flex-direction: row;
    padding-top: 117px;
    padding-bottom: 113px;
  }
}

.fv__contents,
.fv__img {
  display: contents;
  @include mq('lg') {
    display: initial;
  }
}

.fv__ttl,
.fv__text,
.fv__container img {
  order: -1;
}

.fv__container img {
  max-width: 305px;
  margin: 0 auto;
  @include mq('lg') {
    max-width: 515px;
  }
}


.fv__ttl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
  @include mq('lg') {
    font-size: 6rem;
  }
}

.fv__text {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.8;
  @include mq('lg') {
    font-size: 1.8rem;
  }
}

.fv__cta-wrap {
  display: contents;
  display: flex;
  flex-direction: column;
  @include mq('lg') {
    flex-direction: row;
    margin-top: 3.3rem;
  }
  span {
    margin-bottom: 3rem;
    text-align: center;
    @include mq('lg') {
      margin-right: 3rem;
    }
  }
  span a {
    display: inline-block;
    width: 300px;
    font-size: 1.8rem;
    border-radius: 27px;
  }
}


.fv__cta__wrap .cta-btn-whiteback {
  margin-top: 3.2rem;
}


//*---------------------------*
//*  about
//*---------------------------*  

.about__container {
  margin: 0 auto;
  @include mq('lg') {
    max-width: 90rem;
    width: 100%;
  }
}

.about__contents {
  margin-top: 2.9rem;
}

.about__contents p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section__cta {
  text-align: center;
}

.section__cta a {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1;
  border-radius: 50px;
}

//*---------------------------*
//*  feature
//*---------------------------* 
.feature {
  background-color: #F9F9F9;
}

.feature__items {

}

.feature__item {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @include mq('lg') {
    flex-direction: row;
    margin-top: 102px;
  }
}

.feature__item img {
  order: -1;
  max-width: 280px;
  @include mq('lg') {
    max-width: 520px;
  }
}

.feature__item-card {
  background-color: #fff;
  border-radius: 30px;
  padding: 49px 20px 40px 20px;
  @include mq('lg') {
    padding: 65px 124px 65px 148px;
  }
  
}

.feature__item-ttl {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.448;
  @include mq('lg') {
    font-size: 3.6rem;
  }
}

.feature__item-ttl::before {
  content: attr(data-number);
  font-size: 4.2rem;
  font-weight: 700;
  color: #64629D;
  
}



//*---------------------------*
//*  フッター
//*---------------------------*  
