@charset "utf-8";

$color-main: #F7F7F7;
$color-accent: #F875EF;
$color-text: #2E3740;

$layout-width-inner: 1240px;

//マップ型変数breakpointsを定義
$breakpoints: (
//キー : 値
  'sm': "(max-width: 767px)", 
  'md': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'lg': "(min-width: #{$layout-width-inner})"
) !default;

//メディアクエリ用のmixinを定義。
@mixin mq($breakpoint: sm) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

html {
    font-size: 16px;

    // @include mq('lg') {
    //     font-size: 18px;
    // }
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: $color-text;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    margin-top: 145px;
    @include mq('sm') {
        margin-top: 100px;
    }
}

.inner {
    max-width: $layout-width-inner;
    margin: 0 auto;

    @include mq('sm') {
        padding: 0 4%;
    }

    @include mq('md') {
        padding: 0 4%;
    }

    @include mq('lg') {
        padding: 0 20px;
    }
}

.cta-btn {
    width: 100%;
    background: $color-accent;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: background .2s;

    @include mq('sm') {
        width: 340px;
    }

    &:hover {
        background: #FC47EF;
    }

    a {
        display: block;
        padding: 1.3em 1em;
        color: #fff;

        @include mq('lg') {
            font-size: 1.1rem;
        }
    }

}


.cta-message {
    line-height: 2.5;
}

.section-title {
    font-size: 1.1rem;
    line-height: 2;
}

.is-sm {
    @include mq('lg') {
        display: none;
    }
    @include mq('md') {
        display: none;
    }
}

/*
**********************************
* ヘッダーコンテナ
**********************************
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    // background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    // background-image: linear-gradient( 45deg, #e2ebe9 20%, #fff 100%);
    background: transparent;
    width: 100%;
}

.header-container {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 2.2rem;
    margin-right: auto;
    transition: opacity .2s;
    &:hover {
        opacity: .7;
    }
}

.header-nav {
    margin-left: auto;
}

.header-nav-items {
    display: flex;
    flex-direction: row;
    :last-child {
        margin-right: 0;
    }
    @include mq('sm') {
        flex-direction: column;
        text-align: right;
        padding-top: 70px;
    }
}

.header-nav-item {
    margin-right: 30px;
    @include mq('sm') {
        margin-right: 0;
        padding-right: 30px;
        & + & {
            margin-top: 50px;
        }
    }
 
}
.header-nav-item-link {
    color: $color-text;
    font-size: 0.9rem;
    display: block;
    line-height: 60px;
    opacity: .7;
    position: relative;
    transition: all .2s;
    &:hover {
        opacity: 1;
        &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #f6b7aa;
            position: absolute;
            top: 50%;
            left: -8px;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #f6b7aa;
            position: absolute;
            top: 50%;
            right: -8px;
            transform: translateY(-50%);
        }
    }
    @include mq('sm') {
        font-size: 1.1rem;
    }
}

.drawer--right .header .drawer-hamburger {
    right: 3px;
}

/*
**********************************
* ヒーローコンテナ
**********************************
*/

.hero {
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center / cover;
    padding-bottom: 120px;
    padding-top: 100px;

    @include mq('sm') {
        background-position: left;
        padding-top: 20px;
    }
}

.hero-container {
    padding-top: 140px;
}

.hero-message {
    max-width: 450px;
    width: 100%;
    >p {
        font-family: 'Shippori Mincho', serif;
        margin: 0 auto;
        span {
            display: inline-block;
        }
        
        @include mq('sm') {
            // writing-mode: vertical-rl; 
            font-size: 1.19rem;
            line-height: 1.9;
        }

        @include mq('md') {
            font-size: 1.2rem;
            line-height: 1.9;

        }
        
        @include mq('lg') {
            // writing-mode: vertical-rl;
            line-height: 2.5;
            font-size: 1.1rem;
        }
    }
}

.hero-cta {
    margin-top: 120px;
    text-align: center;

    @include mq('sm') {
        margin-top: 80px;
    }
}

.cta-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;

    @include mq('sm') {
        font-size: 1rem;
    }

    &::before,
    &::after {
        content: '';
        width: 1px;
        height: 30px;
        background-color: #707070;
    }

    &::before {
        margin-right: 20px;
        transform: rotate(-35deg);
    }

    &::after {
        margin-left: 20px;
        transform: rotate(35deg);
    }
}

/*
**********************************
* about
**********************************
*/

.about {
    padding-top: 145px;
    @include mq('sm') {
        padding-top: 100px;
    }
}

.about-container {
    background: url(../images/about-bg.png) no-repeat center center /  cover;
    text-align: center;
    @include mq('sm') {
        background: url(../images/about-bg-sp.png) no-repeat center right / cover;
    }
    h2 {
        position: relative;
        line-height: 1.4;
        display: inline-block;
        font-size: 1.1rem;
        padding: .7em 1.2em;
        &::before,
        &::after {
            content: "";
            width: 20px;
            height: 30px;
            position: absolute;
            display: inline-block;
        }
        &::before {
            border-left: 1px solid #8f9fae;
            border-top: 1px solid #8f9fae;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            border-right: 1px solid #8f9fae;
            border-bottom: 1px solid #8f9fae;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

}

.about-contents {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    align-items: center;

    @include mq('sm') {
        flex-direction: column;
    }

}

.about-image {
    flex: 0 0 323px;
}

.about-message {
    flex: 0 1 auto;
    margin-left: 20px;
    text-align: left;
    p {
        font-size: 1rem;
        line-height: 2;
    }
}

/*
**********************************
*   menu
**********************************
*/

.menu {
    margin-top: 145px;
    @include mq('sm') {
        margin-top: 100px;
    }
}

.menu-container {
    text-align: center;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: #fff;
        }
    }
}

.menu-lists {
    margin: 60px auto 0;
    max-width: 1100px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    @include mq('sm') {
        flex-direction: column;
    }
}

.menu-list-head {
    position: relative;
    img {
        height: 133px;
        width: 178px;

        @include mq('sm') {
            width: 100%;
            height: auto;
        }
    }

}

.menu-tag {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    padding: .3em;
    background: #d0bcaf;
    width: 130px;
    color: #fff;
    border-radius: 30px;
}

.menu-list-body {
    width: 100%;
    text-align-last: left;
    padding: 18px 20px 10px 30px;
    background: $color-main;
    @include mq('sm') {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-list-title {
        font-size: 1rem;
        line-height: 1.5;
        @include mq('sm') {
            font-size: 0.9em;
        }
    }

    .menu-list-text {
        margin-top: 10px;
        font-size: .9rem;
        line-height: 1.5;
        padding: 0 20px;
        @include mq('sm') {
            padding: 0;
            text-align: left;
        }
    }
}

.section-cta {
    max-width: 450px;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin: 100px auto 0;
    .cta-message {
    }

    .line-link {
        color: #fff;

        @include mq('lg') {
            font-size: 1rem;
        }
    }
}

.common-link {
    margin: 60px auto 0;
    max-width: 350px;
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    @include mq('sm') {
        margin-top: 30px;
    }

    a {
        border-radius: 100px;
        display: block;
        color: $color-text;
        padding: 1em;
        border: 1px solid $color-text;
        background: #fff;
        transition: background .3s, color .3s;
        &:hover {
            background: $color-text;
            color: #fff;
        }
    }
}

.fa-external-link-alt {
    padding-right: 10px;
}

/*
**********************************
* スタッフコンテナ
**********************************
*/

.staff {

}

.staff-container {
    text-align: center;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: #fff;
        }
    }
}

.director-wrap {
    max-width: 780px;
    width: 100%;
    margin: 60px auto 0;
    padding: 0 30px;
    line-height: 1.5;
    @include mq('sm') {
        padding: 0 4%;
    }
}

.director {
    img {
        width: 280px;
    }
    figcaption {
        margin-top: 20px;
    }
}

.staff-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.5;
    margin-top: 40px;

    @include mq('sm') {
        flex-direction: column;
       
    }
}

.staffs {
    width: 40%;
    padding: 0 30px;
    margin: 0 10px;
    @include mq('sm') {
        padding: 0 4%;
    }

    @include mq('sm') {
        width: 100%;
        & + & {
            margin-top: 30px;
        }
    }

}
.staff-name {
    font-size: 1.1rem;
}

.staff-message {
    margin-top: 10px;
}

.es-link {
    margin: 16px auto 0;
    max-width: 350px;
    width: 100%;
    a {
        display: block;
        margin-top: 3px;
        padding: .5em 1em;
        border: 1px solid $color-text;
        border-radius: 100px;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        transition: background .2s, color .2s;
        &:hover {
            background: $color-text;
            color: #fff;
        }
    }
}

.is-es {
    font-size: 0.9rem;
}

/*
**********************************
* ニュースコンテナ
**********************************
*/

.news {

}

.news-container {
    text-align: center;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: #fff;
        }
    }
}

.news-items {
    margin: 0 auto;
    margin-top: 45px;
    max-width: 1000px;
    width: 100%;
    text-align: left;
    background: #fff;
}

.news-item {
    border-top: 1px solid #AFB7BE;
    position: relative;
    & + & {
        border-bottom: 1px solid #AFB7BE;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 42%;
    //     right: 10px;
    //     width: 20px;
    //     height: 20px;
    //     border-top: 1px solid $color-text;
    //     border-right: 1px solid $color-text;
    //     transform: rotate(45deg);
    // }
    .news-date {
        font-size: 0.9rem;
        font-weight: 700;
    }

    .news-text {
        @include mq('sm') {
            padding-right: 2em;
        }
    }
    a {
        display: block;
        line-height: 2.5;
        padding: 1.2rem 0;
        transition: background .2s;

        // &:hover {
        //     background: #f7f7f7;
        // }
    }
}

/*
**********************************
* 営業所リンクコンテナ
**********************************
*/  

.link {

}

.link-container {
       text-align: center;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: #fff;
        }
    }

}

.link-wrap {
    display: flex;
    flex-direction: row;

    @include mq('sm') {
        flex-direction: column;
    }

    >.common-link {
        width: 300px;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}

/*
**********************************
* インフォコンテナ
**********************************
*/

.info {
    margin-top: 65px;
    padding: 80px 10px;
    @include mq('sm') {
        margin-top: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    background-image: url(../images/IVYplaza.png);
}

.info-container {
    text-align: center;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: #fff;
        }
    }
}

.info-contents {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('sm') {
        flex-direction: column;
        align-items: center;
    }
}

.info-image {
    flex: 0 0 360px;
    @include mq('sm') {
        flex: 0 0 300px;
    }
    img {
        max-width: 360px;
        height: auto;
        // filter: drop-shadow(0 3px 6px #fafcfd);
    }
}

.info-text {
    @include mq('lg') {
        flex: 0 1 auto;
        margin-left: 40px;
        
    }
    p {
        font-size: 1.2rem;
    }

    @include mq('sm') {
        margin: 30px auto;
        padding:  0 20px;
        p {
            text-align: center;
        }
    }
}

.table {
    margin-top: 20px;
    width: 400px;
    @include mq('sm') {
        max-width: 340px;
    }

    th,td {
        line-height: 1.8;
    }
    th {
        width: 80px;
        font-weight: 400;;
        text-align-last: justify;
        @include mq('sm') {
            width: 66px;
        }
    }
    td {
        width: calc(100% - 80px);
        text-align: left;
        padding-left: 20px;

        @include mq('sm') {
            width: calc(100% - 66px);
        }
    }
}

.google-map {
    margin-top: 8px;
    text-align: center;
    a {
        &:hover {
            border-bottom: 1px solid $color-text;
        }
    }
}

.info-inside {
    margin-top: 50px;
    
}

.info-inside-item {
    max-width: 880px;
    margin: 0 auto;
    @include mq('sm') {
        width: 100%;
    }
}

.info-inside-images {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    :nth-child(n+1) {
        margin-left: 10px;
    }
  
   
    img {
        height: 280px;
        width: auto;
        display: block;
        margin-bottom: 10px;
        @include mq('sm') {
            height: auto;

        }
    }
}

/*
**********************************
* コンタクトコンテナ
**********************************
*/
.contact {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        font-size: 1rem;
        padding: .2em .5em;
    }
    input[type="text"],
    input[type="email"] {
        height: 40px;
    }
    textarea {
        min-height: 140px;
        resize: vertical;
        padding: .8em .5em;
    }
}

.contact-text {
    margin-top: 30px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: $color-text;
}

.contact-form {
    margin-top: 30px;
}

.contact-list {
    max-width: 500px;
    margin: 30px auto;
}

.contact-item-wrap {
    & + & {
        margin-top: 30px;
    } 
}

.contact-item {
    display: flex;
    flex-direction: row;
    @include mq('sm') {
        display: block;
    }
}

.example {
    width: 320px;
    text-align: left;
    margin-top: 5px;
    margin-left: auto;
    color: rgb(155, 147, 147);
    @include mq('sm') {
        margin-left: 0;
    }
}

.contact-item-title {
    flex: 0 1 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
}

.required {
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 10px;
    border: 1px solid hotpink;
    color: hotpink;
    padding: .15em;
    border-radius: 2px;
}

.contact-item-input {
    flex: 0 0 320px;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.contact-footer {
    margin-top: 50px;
    // .contact-footer-text {
    //     max-width: 400px;
    //     margin: 0 auto;
    // }

    .contact-footer-submit {
        margin-top: 50px;
    }
    @include mq('sm') {
        .contact-privacy-link {
            font-size: 0.8rem;
        }
    }
}

.contact-container {
    max-width: 800px;
    text-align: center;
    background: $color-main;
    padding: 80px 40px 90px 40px;
    h2 {
        display: inline-block;
        font-size: .88rem;
        position: relative;
        padding: 0 30px;
        color: rgb(14, 10, 19);

        &::before {
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #000;
        }

        span {
            position: relative;
            padding: 0 1em;
            background: $color-main;
        }
    }
    @include mq('sm') {
        padding: 60px 7% 90px 7%;
    }
}

.submit-btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: $color-text;
    border-radius: 100px;
    opacity: .7;
    transition: opacity .2s;
    &:hover {
        opacity: 1;
    }

}

.contact-privacy {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.contact-privacy-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked + .contact-privacy-check {
        width: 10px;
        border-top: 0;
        border-left: 0;
        border-color: rgb(41, 151, 219);
        transform: rotate(45deg);
        background: transparent;
        top: -5px;
        left: 5px;
    }
}

.contact-privacy-check {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid $color-text;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-privacy-link {
    color: rgb(41, 151, 219);
    border-bottom: 1px solid rgb(41, 151, 219);
}

.contact-message {
    margin-top: 30px;
    display: none;
}


/*
**********************************
* フッターコンテナ
**********************************
*/

.footer {
    // background-image: linear-gradient( 135deg, #e2ebe9 40%, #f7a6d4 100%);
    background: #e2ebe9;
    @include mq('sm') {
        margin-top: 0;
    }
}

.footer-container {
    max-width: 1000px;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    @include mq('sm') {
        padding: 30px 4%;
    }
}

.footer-content {
    margin-top: 20px;
}

.footer-logo {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 2rem;
    transition: opacity .2s;
    &:hover {
        opacity: .7;
    }

}

.sns-link {
    display: flex;
    justify-content: center;
    font-family: 'Sacramento', cursive;
    font-size: 1.9rem;
    text-align: center;
    padding-top: 10px;
    &::before,
    &::after {
        content: '';
        width: 1px;
        height: 30px;
        background-color: #707070;
    }

    &::before {
        margin-right: 20px;
        transform: rotate(-35deg);
    }

    &::after {
        margin-left: 20px;
        transform: rotate(35deg);
    }
}

.sns-link-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

.sns-link-item {
    margin-top: 10px;
    transition: opacity .2s;
    & + & {
        margin-left: 30px;
    }
    &:hover {
        opacity: .8;
    }
}

.footer-nav-items {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    li {
        a {
            line-height: 2;
            &:hover {
                border-bottom: 1px solid $color-text;
            }
        }
    }
    li:first-child {
        margin-right: 30px;
    }
    @include mq('sm') {
        flex-direction: column;
        text-align: center;
    }
}
.copy-right {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
}

/*
**********************************
* トップへ戻るボタン
**********************************
*/

.totop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;

    a {
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #3EA1D1;
        color: #fff;
        border-radius: 60% 40% 50% 50% / 50% 46% 54% 50% ;
        font-weight: 400;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 1.1rem;
        letter-spacing: 1.3px;
        opacity: .7;
        transition: opacity .2s;
        &:hover {
            opacity: 1;
        }
    }

}